/* @media only screen and (max-width: 5000px) { */
  /* .myinline { */
	 /* display: flex; */
	  /* flex-wrap: nowrap; */
	  /* overflow-x: scroll; */
	/* } */
/* } */



.text-left-margin {
	margin:10px;
}


p {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h2,h3,h4,h5,h6, li, ul {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); */
  padding: 10px;
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}

.large-div{
	max-width: 95%;
}

.img-wrap{
	position: relative;
	border-radius: 5px;
}

.description{
	position: absolute;
	background-color: rgba(0,0,0,.5);
	color: white;
	width:100%;
	bottom: 0em;
	font-size:.8em;
	margin-left:0px;
	  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.description h3 {
	color:white;
}






.brighten img {
-webkit-filter: brightness(100%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}


.brighten-zoom {
	overflow: hidden;
}


.brighten img:hover {
-webkit-filter: brightness(50%);
transform: scale(1.3);

}

.brighten img:hover + .description{
/* -webkit-filter: brightness(0%); */
/* transition:  1s all ease; */
/* transform: translate3d(0, -10px, 0); */

}

.bigpadding{
	padding-top:200px;
	padding-bottom:200px;
}

.button--submit{
	position: relative;
	padding: 8px 16px;
}

.button--text{
	transition : all 0.2s;
}

.button--submit-ok{
	transition : all 0.2s;
	background:transparent !important;
	color:green !important;
	border: 2px solid black !important;
	border-color:green !important;
}

.button--submit-progress{
	transition : all 1s;
	width: 55px !important;
}

.button--loading .button--text{
	visibility: hidden;
	opacity:0;
}

.button--loading::after{
	content:"";
	position: absolute;
	width: 32px;
	height: 32px;
	/* background: red; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}


#cc-main .cm__btn2 {
	background-color:#242c31 !important;
	color:lightgrey !important;
	border-color: transparent !important;
	/* border:0 !important; */
}

#cc-main .cm__btn3 {
	background-color:#242c31 !important;
	color:lightgrey !important;
	border-color: transparent !important;
	/* border:0 !important; */
}

#cc-main .cm__btn2:hover {
	background-color:#353d43 !important;
}

#cc-main .cm__btn3:hover {
	background-color:#353d43 !important;
}

.text-link{
	color:#aebbc5 !important;
}